.nav{
    background-color: #2da6fd;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
   
    &__nav-container{
        width: 100%;
        max-width: 1250px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding-left:1rem ;
        padding-right: 3rem;
    }
    &__nav-list{
        display: flex;
    }
    &__nav-item{
        list-style: none;
    }
    &__nav-link{
        color: #fff;
        display:inline-block;
        padding: 0.6rem 2.2rem;
        font-size: 22px;
        font-weight: 400;
        transition: all 0.3s ease;
        &:hover{
            color: #f1eeee;
        }
    }
    &__logo-circle{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        border: 1px solid #fff;
        position: relative;
        background-color: #47B2FF;
    }
    &__nav-logo{
        display: flex;
        align-items: center;
    }
    &__logo-tag{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        font-size: 38px;
        color: #fff;
        text-align: center;
        font-weight: 400;
    }
    &__logo-nature{
        font-size: 27px;
        color: #fff;
        font-weight: 900;
        margin-left: 8px;
        letter-spacing: 0.2rem;
        font-weight: 500;
    }
    &__logo-nature-1{
        font-size: 19px;
    }
    &__slide-btn{
        display: none;
    }
    &__nav-input{
        display: none;
    }
}
//////////////    outer sass nav-list
.nav-list{
    transition: all 0.3s ease;
}
//////////////

@media  screen and (max-width:992px){
    .nav{
        &__nav-container{
            justify-content: flex-start;
        }
        &__nav-logo{
            padding-left: 72px;
        }
        &__nav-list{
            position: fixed;
            top: 75px;
            left: -100%;
            width: 100%;
            max-width: 350px;
            height: 100vh;
            display: block;
            background-color: #2da6fd;
            
        }
        &__nav-item{
            padding-left: 3rem;
                border-bottom: 1px solid black;
            
            &:first-child{
                border-top: 1px solid black;
                
            }
        }
        &__nav-link{
            // border: 1px solid red;
            width: 100%;
            line-height: 50px;
        }
       
        
       
    }

    ///////// ///
    
    .d3-btn{
        position: relative;
        &,
        &:before,
        &:after{
            width: 22px;
            display: inline-block;
            height:2px;
            background-color: #fff;
        }
            &:before,
            &:after{
                content: '';
                left: 0;
                position: absolute;
                transition: all 0.3s ease;
                display: inline-block;
            }
            &:before{
                top: -8px;
            }
            &:after{
                top: 8px;
            }
    }
    .checked:checked ~ .slide-btn .d3-btn:before{
        transform: rotate(135deg);
        top: 0;
    }
    .checked:checked ~ .slide-btn .d3-btn{
        background-color: transparent;
    }
    .checked:checked ~ .slide-btn .d3-btn:after{
        transform: rotate(-135deg);
        top: 0;
    }
    .slide-btn{
        position: absolute;
        top: 21px;
        right: 23px;
    }
    .slide-btn{
        display: block;
    }
    .checked:checked ~ .nav-list{
        left: 0;
    }
///////////////////////////////////
}











































